body {
	margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.header {
	font-family: 'Raleway Dots', cursive;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	width: 100vw;
	border-bottom: 2px solid black;
	color: black;
	background-color: white;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 10000;
}

.hide {
	display: none;
}

.modal {
	position: absolute;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	height: 50vh;
	width: 50vw;
	padding: 10px;
	margin: 0 0 0 25vw;
	font-size: 16px;
}

ul {
	display: flex;
	flex-direction: column;
  width: 20em;
  list-style-type: none;
  font-size: 12px
}

.home,
.weather,
.zipForm,
.advice,
.retro,
.dog,
.poke,
.lyricForm,
.sheWolf,
.kitty,
.color {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.zipForm {
	height: 30vh;
	justify-content: space-evenly;
}

#zip {
	height: 40px;
	font-size: 20px;
	text-align: center;
}

.prompt {
	font-family: 'Raleway Dots', cursive;
}

.home {
	margin-top: 15vh;
	height: 50vh;
}

.error {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 15vh;
	height: 50vh;
	width: 100vw;
  font-size: 150%;
}

.error1 {
	font-size: 200px;
	margin-bottom: 0;
}

.error2 {
  font-family: 'Raleway Dots', cursive;
	font-size: 30px;
	text-align: center;
}

.hotOrNot {
	font-size: 35vw;
	margin-bottom: 10vh;
	margin-top: 10vh;
	color: black;
	opacity: 0;
	animation-duration: 2.5s;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

@keyframes hot {
	to {
		opacity: 1;
		color: red;
	}
}

@keyframes not {
	to {
		opacity: 1;
		color: blue;
	}
}

.poke {
	margin: 10vh 0 10vh 0;
}

.dog {
	margin-right: 40vw;
	font-size: 12px;
	align-items: center;
	justify-content: center;
}

.dogh2 {
	align-items: center;
	text-align: center;
	width: 50%;
}

.kitty {
	align-items: center;
	margin-left: 20vw;
}

.lyricIntro {
	font-size: 20px;
}

.lyrics {
	font-size: 75%;
	border: 2px solid black;
	border-radius: 15px;
	height: 500px;
	padding: 10px;
	overflow: scroll;
}

.lyricSubmit {
	display: flex;
	justify-content: space-evenly;
	margin: 10px;
	align-items: center;
	width: 80vw;
}

.sheWolf,
.kitty {
	padding: 30px;
	align-items: center;
}

.video {
	border: 5px solid black;
	border-radius: 10px;
}

img {
	border: 2px solid black;
	border-radius: 20px;
	width: 50vw;
	height: 50vh;
}

h5 {
	margin: 5px;
	font-size: 14px;
}

.color {
	font-size: 12px;
	padding: 10px;
	margin: 20px;
}
