div {
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  border-radius: 15px;
  padding: 10px;
}

.header {
  font-family: 'Raleway Dots', cursive;
  font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	width: 100vw;
	border-bottom: 2px solid black;
	color: black;
	background-color: white;
	position: fixed;
	left: 0px;
  top: 0px;
  z-index: 10000;
}

.title {
	margin-left: 20px;
}
.askAgain {
	margin-right: 5vw;
}

.hide {
  display: none;
}

.modal {
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  height: 50vh;
  width: 50vw;
  padding: 10px;
  margin: 0 0 0 25vw;
  font-size: 12px;
}

ul {
  display: flex;
  flex-direction: column;
  width: 20em;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.home,
.weather,
.zipForm, 
.advice,
.retro,
.dog,
.poke,
.lyricForm,
.sheWolf,
.kitty {
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutButton {
  margin: 20px 0 0 0;
}

.zipForm {
  height: 30vh;
  justify-content: space-evenly;
}

#zip {
  height: 40px;
  font-size: 20px;
  text-align: center;
}

.prompt {
  font-family: 'Raleway Dots', cursive;
}

.home {
  margin-top: 15vh;
  height: 50vh;
  font-family: 'Montserrat', sans-serif;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15vh;
  height: 50vh;
  width: 100vw;
  font-size: 150%;
}

.error1 {
  font-size: 200px;
  margin-bottom: 0;
}

.error2 {
  font-size: 30px;
  text-align: center;
}

.hotOrNot {
font-size: 35vw;
margin-bottom: 10vh;
margin-top: 10vh;
color: black;
opacity: 0;
animation-duration: 2s;
animation-direction: normal;
animation-fill-mode: forwards;
}

@keyframes hot {
  to {
    opacity: 1;
    color: red;
  }
}

@keyframes not {
 to {
    opacity: 1;
    color: blue;
  }
}

.retro {
  margin-top: 20vh;
  margin-bottom: 30vh;
}

.poke {
  margin: 20vh;
}

.dog {
  
  margin-right: 40vw;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.dogh2 {
  text-align: center;
  width: 50%;
}


.kitty {
  align-items: center;
  margin-left: 20vw;
}

.dogImg, .kittyImg {
	width: 50vw;
  height: 50vh;
  padding: 10px;
}

.pokeImg {
  width: 40vw;
  height: 40vh;
}

.lyricIntro {
  font-size: 20px;
}
.lyrics {
  font-size: 75%;
  border: 1px solid black;
  flex-shrink: 2;
  height: 500px;
  padding: 10px;
  overflow: scroll;
}
.lyricSubmit {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  align-items: center;
  width: 80vw;
}

.sheWolf, .kitty {
  padding: 30px;
}

.confession {
  font-size: 100%;
}

.video {
  border: 5px solid gold;
}

.changeIt {
  padding: 20px;
}
