.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
}

.home, .weather{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
