div {
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  border-radius: 15px;
  padding: 10px;
}

.header {
  font-family: 'Raleway Dots', cursive;
  font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	width: 100vw;
	border-bottom: 2px solid black;
	color: black;
	background-color: white;
	position: fixed;
	left: 0px;
	top: 0px;
}

.title {
	margin-left: 20px;
}
.askAgain {
	margin-right: 5vw;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.home,
.weather,
.zipForm, 
.advice,
.retro,
.dogFull,
.poke,
.lyricForm,
.sheWolf {
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  text-align: center;
}

.zipForm {
  height: 30vh;
  justify-content: space-evenly;
}

#zip {
  height: 40px;
  font-size: 20px;
  text-align: center;
}

.prompt {
  font-family: 'Raleway Dots', cursive;
}

.home {
  margin-top: 15vh;
  height: 50vh;
  font-family: 'Montserrat', sans-serif;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15vh;
  height: 50vh;
  width: 100vw;
  font-size: 150%;
}

.hotOrNot {
font-size: 35vw;
}

.dog {
	width: 200px;
	height: 200px;
}
